.sport{
    width:18px;
    height: 18px;
    background-image: url(/images/icons/default.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position-y: 2px;
}
.sport.basketball{
    background-image: url(/images/icons/basketball.png)
}
.sport.football{
    background-image: url(/images/icons/football.png)
}
.sport.tennis{
    background-image: url(/images/icons/tennis.png)
}

.match
{
width:100%;
	margin-right: 20px;
	background-color: #222;
	text-align: center;
 position:absolute;
 top:0;
 left:0;
 
	height:200px;
	
 animation:slide 500ms; 
 animation-delay: 3s;
}

.match .name{
 color:white;
 margin:10px;
 font-size: 16px;
}

.match .time{
 color:gray;
 margin:10px;
}
.match .score{

 color:yellow;
 font-size: 24px;
 margin:20px;
}
.match .bet{
    margin-top: 30px;
}

.match .bet a{
    background-color: #3aaa35;
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: bolder;
 font-size: 14px;
   text-decoration: none;
  padding: 9px;
  
}
  