
.ticker
{
	width:600px;
	height:200px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.left-enter {
	left: 100%;
  } 
  .left-enter.left-enter-active {
	left:0%;
	transition: left 500ms;
  }
  
  .left-leave {
	left: 0;
  }
  .left-leave.left-leave-active {
	left:-100%;
	transition: left 500ms;
  }
 